<div class="col-sm-9" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Qualidade de vida sexual em pacientes com diabetes mellitus tipo 2 em uma província equatoriana</h5>
        <p class="card-text">INTRODUÇÃO<br><br>

          O diabetes mellitus está associado a aproximadamente 4,6 milhões de mortes por ano e está entre as 10 principais causas de diminuição da capacidade produtiva dos indivíduos em todo o mundo.(1) No Equador, 7,8% da população sofre desta doença, o que representa uma cifra de 1,3 milhões de pessoas .(2)
          
          Esta patologia está associada a várias complicações de saúde pessoal a longo prazo, entre as quais: insuficiência renal, doença cardíaca isquémica, entre outras. Além disso, há relatos de comprometimento na qualidade da vida sexual tanto em mulheres quanto em homens, gerando diferentes níveis de sofrimento nos pacientes.(3)
          
          A esse respeito, Islas Andrades et al.(4) defendem a importância do desenvolvimento de estudos epidemiológicos sobre a qualidade de vida sexual em pacientes com diabetes mellitus tipo 2. Ledón Llanes et al.(5) mencionam que várias doenças crônicas não transmissíveis relacionadas ao sistema endócrino causam disfunção sexual.
          
          Marina et al.(6) definem a disfunção sexual como uma alteração clinicamente significativa da resposta sexual e a dificuldade em sentir prazer durante o ato sexual, podendo estar relacionada a uma doença crônica. O aparecimento destas manifestações tem um impacto negativo nas relações conjugais, com consequências complexas que se aprofundam ao longo do tempo, exigindo assistência médica e psicológica especializada.
          
          A disfunção sexual ocorre em homens quando eles não conseguem desfrutar plenamente de sua sexualidade,(7) Vélez(8) cita que em pacientes diabéticos, os vasos e nervos responsáveis ​​pela ereção podem ser afetados. Assim, Puentes Rodríguez et al.(9) apontam algumas formas pelas quais ela se manifesta: diminuição do desejo sexual, dificuldade em manter uma ereção, ejaculação precoce e problemas relacionados ao orgasmo.
          
          Nas mulheres, a disfunção sexual foi conceituada por Zapata Boluda e Gutiérrez Izquierdo(10) como um distúrbio orgásmico feminino que causa sua ausência ou retardo após a excitação sexual adequada, gerando uma situação de conflito interpessoal. Esses autores estabelecem dois grandes grupos causais: psicológicos e orgânicos (neste último indicam a condição de diabetes mellitus).
          
          A investigação apresentada teve como objetivo comparar os grupos etários em cada sexo a partir das médias dos valores das dimensões da qualidade de vida sexual avaliadas em doentes com diabetes mellitus tipo 2, que foram atendidos na consulta do Serviço Social Camponês Segurança do cantão de Santa Ana, província de Manabí, Equador, durante o ano de 2021.
          <br>
          <br>MATERIAL E MÉTODOS<br><br>
          
          Trata-se de um estudo quantitativo, não experimental, descritivo, transversal e inferencial, do qual participaram 200 indivíduos selecionados por meio de uma amostra não probabilística de sujeitos voluntários, em uma população de usuários atendidos no serviço de saúde do Centro Social Rural Segurança do cantão de Santa Ana, província de Manabí, Equador, durante o ano de 2021.
          
          O processo de seleção foi realizado até completar 100 homens e 100 mulheres que atendiam aos critérios de residir em zona rural, com idade superior a 30 anos e portadores regulares de diabetes mellitus tipo 2.
          
          As variáveis ​​em estudo foram sexo, idade e qualidade de vida sexual, cujos dados foram recolhidos através da aplicação de dois instrumentos com valores de validação em vários contextos que refletem um α>0,7:
          
          · Changes in Sexual Functioning Questionnaire em sua forma reduzida (CSFQ-14, Inglês: Changes in Sexual Functioning Questionnaire-Brief Form).(11,12) Mede três dimensões através de 14 itens: desejo, orgasmo e excitação.
          
          · Sexual Self-Perception and Adjustment Questionnaire em sua versão adaptada (SSPAQ, inglês: Sexual Self-Perception and Adjustment Questionnaire),(13,14) que é composto por 14 itens que permitem estabelecer o status das dimensões: satisfação e depressão sexual.
          
          Para realizar a correspondente organização e tratamento dos dados recolhidos, foi utilizado o pacote estatístico SPSS (versão 26). A análise descritiva foi feita por meio do cálculo de médias e distribuição de frequência; Além disso, os testes inferenciais paramétricos ANOVA de um fator possibilitaram a comparação dos grupos e o teste de contraste post hoc de Tukey, aplicados após o estabelecimento da normalidade na distribuição.
          
          A cada participante foi explicado o tema da pesquisa, bem como o caráter voluntário e anônimo de sua participação como parte do protocolo de assinatura do consentimento informado correspondente. A pesquisa foi aprovada pelo Comitê de Bioética da Universidade de Almería, documento emitido com a referência UALBIO2020/002.
          
          <br><br>RESULTADOS<br><br>
          
          Os dados sociodemográficos mostraram que a faixa etária de 61 a 70 anos (27,5%) predominou entre os participantes
          <br><br><br><br><br><br>
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="#" class="btn btn-outline-primary btn-sm">Acessar fonte</a>
        </div>
      </div>
    </div>
  </div>
</div>