{% extends 'menu.html' %} {% block content %}

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Internações de adolescentes por condições sensíveis à atenção primária
          à saúde na perspectiva da integralidade
        </h5>
        <p class="card-text">
          Estudo de abordagem quantitativa, retrospectivo, realizado no período
          de janeiro a julho de 2018. Foram coletados dados públicos de
          internações de adolescentes de 10 a 19 anos disponíveis na base de
          dados do sistema de informações hospitalares do Ministério da Saúde,
          com Tabulador Oficial versão Tabwin 3.2. A análise dos dados ocorreu
          por estatística descritiva segundo número absoluto e frequência por
          ano investigado.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/noticia/noticia1" class="btn btn-light btn-sm">Artigo completo</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Adesão aos inaladores em pacientes com asma grave tratados com
          biológicos anti-interleucina 5
        </h5>
        <p class="card-text">
          Como a má adesão medicamentosa na asma grave é difícil de avaliar na
          prática diária, recomenda-se o uso de pelo menos dois métodos
          simultaneamente. O objetivo é determinar a prevalência de não adesão
          aos inaladores por meio do questionário Inhaler Adherence Test e a
          razão de posse de medicamentos obtida a partir de dados de dispensação
          de farmácia em pacientes com asma grave tratados com biológicos
          anti-interleucina 5 e avaliar sua concordância.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/noticia/noticia2" class="btn btn-light btn-sm">Artigo completo</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Caracterização de doentes asmáticos internados com SARS-CoV-2 num
          hospital português de referência COVID-19
        </h5>
        <p class="card-text">
          A doença respiratória crónica, onde se inclui a asma, tem sido
          apontada como potencial fator de risco para doença COVID-19 de maior
          gravidade. Contudo, estudos recentes têm reportado taxas variáveis de
          prevalência de asma.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/noticia/noticia3" class="btn btn-light btn-sm">Artigo completo</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Associação entre fatores pré-natais e neonatais e ocorrência de
          sintomas de asma em crianças aos seis anos de idade
        </h5>
        <p class="card-text">
          O objetivo foi estimar a associação entre fatores pré-natais e
          neonatais e sintomas de asma em crianças aos seis anos de idade. Foi
          realizado um estudo epidemiológico transversal com dados secundários
          provenientes de estudo de coorte com amostragem de 578 crianças. Os
          dados foram analisados por meio de regressão de Poisson. Do total de
          578 crianças incluídas no estudo, 43,4% (IC 95% 39,4; 47,4)
          apresentavam sintomas de asma. As variáveis com prevalências
          significativamente maiores de sintomas de asma aos seis anos de idade
          foram: sexo masculino, com prevalência 5% maior (RP = 1,05 IC 95%
          1,01; 1,11) (p = 0,043); crianças de gestantes portadoras de doenças
          infecciosas, com prevalência 7% maior (RP = 1,07; IC 95% 1,02; 1,13)
          (p = 0,011); crianças que não foram amamentadas, com prevalência 12%
          maior (RP = 1,12; IC 95% 1,02; 1,24) (p = 0,022), e crianças com
          problemas respiratórios no primeiro mês de vida, com prevalência 14%
          maior (RP = 1,14; IC 95% 1,01; 1,29) (p = 0,033). Concluiu-se que sexo
          masculino, privação de amamentação, independentemente do tempo, e
          problemas respiratórios no primeiro mês de vida foram associados de
          forma independente aos sintomas de asma aos seis anos de idade. A
          ocorrência de doenças infecciosas durante a gravidez foi o único fator
          fisiológico intra-uterino associado à ocorrência de sintomas de asma
          aos seis anos de idade.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/noticia/noticia4" class="btn btn-light btn-sm">Artigo completo</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Pessoa idosa com diabetes mellitus tipo 2: Contributos para a
          compreensão da gestão do regime medicamentoso
        </h5>
        <p class="card-text">
          Face ao envelhecimento populacional existe uma crescente prevalência
          de doenças crónicas entre elas a diabetes mellitus. A complexidade dos
          regimes medicamentosos destas pessoas e a otimização da sua gestão
          assume-se desafiante para os enfermeiros.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/noticia/noticia5" class="btn btn-light btn-sm">Artigo completo</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Qualidade de vida sexual em pacientes com diabetes mellitus tipo 2 em
          uma província equatoriana
        </h5>
        <p class="card-text">
          A presente investigação teve como objetivo comparar os grupos etários
          em cada sexo a partir das médias dos valores das dimensões da
          qualidade de vida sexual avaliadas em doentes com diabetes mellitus
          tipo 2, que foram atendidos na consulta da Segurança Social. do cantão
          de Santa Ana, província de Manabí, Equador, durante o ano de 2021.
          Participaram 200 pessoas (100 homens e 100 mulheres), com idades entre
          33 e 90 anos. Os dados foram recolhidos através dos seguintes
          instrumentos: Foram aplicados para o estudo o Changes in Sexual
          Functioning Questionnaire na sua forma reduzida e o Sexual
          Self-Perception Questionnaire numa versão adaptada. As médias dos
          escores nas dimensões desejo, excitação, orgasmo e satisfação sexual
          foram maiores nos homens, em que também foram observadas diferenças
          significativas entre as diferentes faixas etárias. Em ambos os sexos,
          os escores diminuíram com o aumento da idade.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/noticia/noticia6" class="btn btn-light btn-sm">Artigo completo</a>
        </div>
      </div>
    </div>
  </div>

{% if visivel == 'noticia1' %}
<div class="col-sm-9">
  <div class="card">
    <div class="card-body">
      {% include '/posts/Internações-de-adolescentes.html' %}
    </div>
  </div>
</div>
{% endif %}
{% if visivel == 'noticia2' %}
<div class="col-sm-9">
  <div class="card">
    <div class="card-body">
      {% include '/posts/inaladores-em-pacientes-com-asma.html' %}
    </div>
  </div>
</div>
{% endif %}
{% if visivel == 'noticia3' %}
<div class="col-sm-9">
  <div class="card">
    <div class="card-body">
      {% include '/posts/asmaticos-internados-com-SARS-CoV-2.html' %}
    </div>
  </div>
</div>
{% endif %}
{% if visivel == 'noticia4' %}
<div class="col-sm-9">
  <div class="card">
    <div class="card-body">
      {% include '/posts/Associacao-entre-fatores-pre-natais-e-neonatais.html' %}
    </div>
  </div>
</div>
{% endif %}
{% if visivel == 'noticia5' %}
<div class="col-sm-9">
  <div class="card">
    <div class="card-body">
      {% include '/posts/Pessoa-idosa-com-diabetes-mellitus-tipo-2.html' %}
    </div>
  </div>
</div>
{% endif %}
{% if visivel == 'noticia6' %}
<div class="col-sm-9">
  <div class="card">
    <div class="card-body">
      {% include '/posts/Qualidade-de-vida-sexual.html' %}
    </div>
  </div>
</div>
{% endif %}

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
>
</script>



{% endblock content %}
